NET "ENABLE[3]" LOC = T6;
NET "ENABLE[2]" LOC = V6;
NET "ENABLE[1]" LOC = U8;
NET "ENABLE[0]" LOC = V8;
NET "SEGMENT[7]" LOC = P6;
NET "SEGMENT[6]" LOC = N4;
NET "SEGMENT[5]" LOC = V5;
NET "SEGMENT[4]" LOC = T5;
NET "SEGMENT[3]" LOC = U7;
NET "SEGMENT[2]" LOC = R3;
NET "SEGMENT[1]" LOC = N5;
NET "SEGMENT[0]" LOC = R5;
NET "clk" LOC = R10;
NET "rst_n" LOC = N3;
NET "cancel" LOC = T2;
NET "tea" LOC = P4;
NET "coke" LOC = P3;
NET "sprite" LOC = L6;
NET "money_5" LOC = M5;
NET "money_10" LOC = U2;
NET "money_50" LOC = U1;
NET "drop_tea" LOC = K4;
NET "drop_coke" LOC = K3;
NEt "drop_sprite" LOC = L5;
